html {
    background: black;
}
h1 {
    color: white;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight:<weight>;
    font-style:normal;
}
p {
    color: white;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
a{
    
}
img {
    border: 10px solid white;
    border-width: 5px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#black {
    color: blue;
}
#copyright {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
